In [1]:
import pandas as pd

In [2]:
aqi = pd.read_csv('../resources/Cleaned_folder/aqi_data.csv')
asthma = pd.read_csv('../resources/Cleaned_folder/asthma2009_2018.csv')

In [3]:
asthma.columns.tolist()

['Year',
 'Zip_Code',
 'Number of Visits',
 'Age-adjusted rate',
 'Age_Group',
 'County']

In [4]:
asthma_clean = asthma.drop(['Zip_Code'], axis=1).copy()

In [5]:
asthma_clean

       Year  Number of Visits  Age-adjusted rate  Age_Group       County
0      2013             240.0          79.900000          0  Los angeles
1      2013             215.0          67.800000          0  Los angeles
2      2013             287.0          73.400000          0  Los angeles
3      2013             101.0          21.700000          0  Los angeles
4      2013              76.0          24.300000          0  Los angeles
...     ...               ...                ...        ...          ...
16858  2009              14.0         168.321586          0       Lassen
16859  2009              16.0          19.176574          1    El dorado
16860  2009              26.0           8.929906          0    El dorado
16861  2009               0.0           0.000000          1       Nevada
16862  2009               0.0           0.000000          0       Nevada

[16863 rows x 5 columns]

In [6]:
asth = asthma_clean.groupby(['Year','Age_Group',pd.Grouper(key='County')]).mean()

In [7]:
asthma_to_merg = asth.reset_index()

In [8]:
asthma_to_merg

     Year  Age_Group     County  Number of Visits  Age-adjusted rate
0    2009          0    Alameda        146.217391          57.952969
1    2009          0     Amador         16.400000          33.469355
2    2009          0      Butte         88.888889          64.690314
3    2009          0  Calaveras         17.750000          43.653113
4    2009          0     Colusa          7.000000          12.375737
..    ...        ...        ...               ...                ...
860  2018          1     Tulare         58.333333          58.616667
861  2018          1   Tuolumne         27.000000          59.600000
862  2018          1    Ventura         50.333333          45.377778
863  2018          1       Yolo         35.714286          56.585714
864  2018          1       Yuba         47.000000          52.850000

[865 rows x 5 columns]

In [9]:
aqi = aqi.drop('State',axis=1)

In [10]:
len(asthma_clean['County'].unique().tolist())

58

In [11]:
aqi['Year'] = aqi['Date Local'].str.split('-').str[0]

In [12]:
aqi['Year'] = pd.to_numeric(aqi['Year'])

In [13]:
aqi = aqi.drop('Date Local', axis = 1)

In [14]:
aqi.columns

Index(['County', 'NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI', 'Year'], dtype='object')

In [15]:
aqi_grouped = aqi.groupby('Year')

In [16]:
aqi_grouper = aqi.groupby(['Year',pd.Grouper(key='County')]).agg(['mean','max','min'])

In [17]:
aqi_grouper

                       NO2 AQI                      O3 AQI               \
                          mean         max  min       mean    max   min
Year County
2009 Alameda         21.945205   47.000000  4.0  20.964384   46.0   2.0
     Contra Costa    14.679909   35.000000  3.5  32.240639  139.5   7.5
     Fresno          26.539726   66.000000  7.0  52.282192  172.0   5.0
     Humboldt         8.108033   37.000000  0.0  23.941828   46.0   7.0
     Imperial        31.777778  101.000000  3.0  38.691667  119.0   3.0
...                        ...         ...  ...        ...    ...   ...
2016 Sacramento      19.785714   31.000000  3.0  24.464286   32.0  13.0
     San Bernardino  25.875000   51.000000  3.0  38.613636   84.0  17.0
     Santa Barbara    4.106227   10.333333  0.0  39.021978   74.0  24.0
     Santa Clara     23.355372   48.000000  4.0  30.454545   67.0   6.0
     Solano          17.851240   36.000000  1.0  31.545455   84.0   6.0

                      SO2 AQI                     CO AQI
                         mean        max  min       mean        max  min
Year County
2009 Alameda         3.443836  23.000000  0.0   5.671233  23.000000  1.0
     Contra Costa    2.885388  11.500000  0.0   3.919178   9.333333  1.5
     Fresno          3.424658  19.000000  0.0   6.550685  24.000000  1.0
     Humboldt        0.686981  37.000000  0.0   4.445983  15.000000  1.0
     Imperial        2.891667  19.000000  0.0  15.680556  81.000000  5.0
...                       ...        ...  ...        ...        ...  ...
2016 Sacramento      3.750000   6.000000  1.0   7.535714  16.000000  3.0
     San Bernardino  0.420455   3.000000  0.0   6.306818  10.000000  3.0
     Santa Barbara   0.846154   2.333333  0.0   1.793040   4.000000  0.0
     Santa Clara     0.190083   1.000000  0.0   6.016529  15.000000  2.0
     Solano          0.950413   9.000000  0.0   6.801653  20.000000  2.0

[81 rows x 12 columns]

In [18]:
aqi_cleaned = aqi_grouper.reset_index()

In [19]:
aqi_cleaned.columns = aqi_cleaned.columns.map('_'.join)

In [20]:
aqi_cleaned.rename(columns={'Year_': 'Year',
                           'County_':'County'}, inplace = True)

In [21]:
aqi_cleaned['County'] = aqi_cleaned['County'].str.lower().str.capitalize()

In [22]:
asthma_to_merg['Year'].dtype

dtype('int64')

In [23]:
merged = asthma_to_merg.merge(aqi_cleaned, how='inner', on=['County','Year'])

In [24]:
print(f'rows: {len(merged)}, columns: {len(merged.columns.tolist())}')

rows: 158, columns: 17

In [25]:
merged

,Year,Age_Group,County,Number of Visits,Age-adjusted rate,NO2 AQI_mean,NO2 AQI_max,NO2 AQI_min,O3 AQI_mean,O3 AQI_max,O3 AQI_min,SO2 AQI_mean,SO2 AQI_max,SO2 AQI_min,CO AQI_mean,CO AQI_max,CO AQI_min
0,2009,0,Alameda,146.217391,57.952969,21.945205,47.000000,4.0,20.964384,46.0,2.0,3.443836,23.000000,0.0,5.671233,23.000000,1.0
1,2009,1,Alameda,88.347826,102.251601,21.945205,47.000000,4.0,20.964384,46.0,2.0,3.443836,23.000000,0.0,5.671233,23.000000,1.0
2,2009,0,Contra costa,129.277778,56.074682,14.679909,35.000000,3.5,32.240639,139.5,7.5,2.885388,11.500000,0.0,3.919178,9.333333,1.5
3,2009,1,Contra costa,69.194444,70.746074,14.679909,35.000000,3.5,32.240639,139.5,7.5,2.885388,11.500000,0.0,3.919178,9.333333,1.5
4,2009,0,Fresno,79.390244,47.221375,26.539726,66.000000,7.0,52.282192,172.0,5.0,3.424658,19.000000,0.0,6.550685,24.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2016,1,Santa barbara,63.500000,78.070000,4.106227,10.333333,0.0,39.021978,74.0,24.0,0.846154,2.333333,0.0,1.793040,4.000000,0.0
154,2016,0,Santa clara,80.688889,25.424444,23.355372,48.000000,4.0,30.454545,67.0,6.0,0.190083,1.000000,0.0,6.016529,15.000000,2.0
155,2016,1,Santa clara,40.657895,35.697368,23.355372,48.000000,4.0,30.454545,67.0,6.0,0.190083,1.000000,0.0,6.016529,15.000000,2.0
156,2016,0,Solano,205.000000,70.781818,17.851240,36.000000,1.0,31.545455,84.0,6.0,0.950413,9.000000,0.0,6.801653,20.000000,2.0
157,2016,1,Solano,106.400000,109.750000,17.851240,36.000000,1.0,31.545455,84.0,6.0,0.950413,9.000000,0.0,6.801653,20.000000,2.0

In [26]:
merged.to_csv('../resources/Cleaned_folder/aqi_asthma_try.csv', index=False)